.link {
  text-decoration: none;
  padding: 12px 48px;
  border: 2px solid var(--primary);
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
  background-color: var(--secondary);
  &:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}
