.button {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  padding: 24px 16px;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  appearance: none;
  font-weight: 600;
  pointer-events: auto;
}

.closeFilters {
  bottom: calc(var(--header-height));
  border-top: 3px solid var(--primary);
}

.clearFilters {
  /* top: calc(var(--header-height) + var(--filters-height)); */
  position: relative;
  padding: 16px;
  border-bottom: 3px solid var(--primary);
}

[data-theme='dark'] .button {
  background-color: var(--medium);
  /* color: var(--primary); */
}
