.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  @media (min-width: 768px) {
    padding: 0 16px;
  }
}

/* .bookCount {
  font-size: 1.25rem;
  font-weight: 600;
} */

.bookOrderContainer {
  display: flex;
  gap: 4px;
}

.bookOrderButton,
.bookViewButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  color: var(--primary);
  font-size: 1.25rem;
}
