.searchbar {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 0 8px;
  max-width: 400px;
  border: none;
  border: var(--border-thick);
  background-color: var(--secondary);
  border-radius: 100px;
  @media (max-width: 768px) {
    display: none;
    &.mobile {
      display: flex;
    }
  }
}

.input {
  width: 100%;
  padding: 6px 0;
  border: none;
  background-color: transparent;
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.5px; */
  outline: none;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

.mobile {
  &.input {
    font-size: 20px;
  }
}

.button {
  appearance: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: var(--accent);
  }
}

.icon {
  font-size: 16px;
}
