.searchbar {
  display: none;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 0 8px;
  max-width: 100%;
  border: none;
  border: 3px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 100px;
  &:focus-within {
    outline: 1px solid var(--primary);
    outline-offset: 2px;
  }
  &.mobile {
    display: flex;
  }
  @media (min-width: 768px) {
    max-width: 400px;
    display: flex;
  }
}

.input {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: transparent;
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.5px; */
  outline: none;
  transition: all 0.2s ease-in-out;
  appearance: none;
  &::placeholder {
    color: var(--primary);
    opacity: 0.6;
  }
  @media (min-width: 768px) {
    padding: 6px 0;
  }
}

.mobile {
  &.input {
    font-size: 20px;
  }
}

.button {
  appearance: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--primary);
  border: none;
  cursor: pointer;
  &:hover {
    color: var(--accent);
  }
}

.icon {
  font-size: 16px;
}
