.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 16px 0;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--secondary);
  border-bottom: 3px solid var(--primary);
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.filtersWrapper {
  width: 100%;
  max-width: var(--medium-width);
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 275px));
  gap: 36px 16px;
  margin: 0 auto;
  padding: 36px 16px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(160px, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, minmax(186px, 1fr));
  }
}
