.container {
  display: flex;
  position: fixed;
  top: calc(var(--header-height));
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--secondary);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border-bottom: 3px solid var(--primary);
  @media (min-width: 768px) {
    display: none;
  }
}

.searchbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 3px solid var(--primary);
}
