.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
}

/* .bookListContainer {
  padding-top: calc(
    var(--header-height) + var(--filters-height-mobile) + 32px
    );
    @media (mix-width: 768px) {
      padding-top: calc(var(--header-height) + var(--filters-height) + 32px);
  }
} */

.bookListContainer {
  top: calc(var(--header-height) + var(--filters-height-mobile) + 18px);
  position: fixed;
  left: 0;
  right: 0;
  /* padding-bottom: calc(var(--header-height) + var(--filters-height)); */
  height: calc(100vh - var(--header-height) - var(--filters-height-mobile));
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 12px; /* Width of vertical scrollbar */
  }

  /* Style the scrollbar track */
  &::-webkit-scrollbar-track {
    background: var(--light);
    border-left: 3px solid var(--primary);
    /* border-radius: 10px; */
  }

  /* Style the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    /* border-radius: 10px; */
  }

  /* Style the scrollbar thumb on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  }
  @media (min-width: 768px) {
    top: calc(var(--header-height) + var(--filters-height-tablet));
    height: calc(100vh - var(--header-height) - var(--filters-height-tablet));
  }
  @media (min-width: 1024px) {
    top: calc(var(--header-height) + var(--filters-height) - 1px);
    height: calc(100vh - var(--header-height) - var(--filters-height));
  }
}

.bookListWrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 0;
}

[data-theme='dark'] .bookListContainer {
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary);
  }
}
