a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
}

.bookListContainer {
  top: calc(var(--header-height) + var(--filters-height));
  position: fixed;
  left: 0;
  right: 0;
  height: calc(
    100vh - var(--header-height) - var(--filters-height) -
      var(--mobile-filters-button-height)
  );
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: var(--scrollbar-width); /* Width of vertical scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: var(--light);
    border-left: 3px solid var(--primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  }
  @media (min-width: 768px) {
    height: calc(100vh - var(--header-height) - var(--filters-height));
  }
}

.bookListWrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 0;
}

[data-theme='dark'] .bookListContainer {
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary);
  }
}
