.header {
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  padding: 9.25px 0;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  gap: 16px;
}

.leftColumn {
  width: 100%;
}

.titleContainer {
  color: var(--secondary);
  display: flex;
  align-items: center;
  .icon {
    /* font-size: 20px; */
    font-size: 28px;
    @media (min-width: 768px) {
      font-size: 28px;
    }
  }
}

.titleLink {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--accent);
  }
}

.title {
  font-weight: 900;
  font-size: 36px;
  /* font-size: 24px; */
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.menuContainer {
  display: flex;
  align-items: center;
}

.themeToggle {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--secondary);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--accent);
  }
}

[data-theme='light'] .header {
  a.titleLink:focus {
    outline: 1px solid var(--secondary);
    outline-offset: 2px;
  }
  button:focus {
    outline: 1px solid var(--secondary);
    outline-offset: 2px;
  }
}

[data-theme='dark'] .header {
  background-color: var(--secondary);
  border-bottom: 3px solid var(--primary);

  .titleContainer {
    color: var(--primary);
  }
  .themeToggle {
    color: var(--primary);
  }
}
