.bookListContainer {
  top: calc(var(--header-height) + var(--filters-height));
  position: fixed;
  left: 0;
  right: 0;
  height: calc(
    100vh - var(--header-height) - var(--filters-height) -
      var(--mobile-filters-button-height)
  );
  overflow-y: scroll;
  /* &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--light);
    border-left: 3px solid var(--primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  } */
  @media (min-width: 768px) {
    height: calc(100vh - var(--header-height) - var(--filters-height));
  }
}

.bookListWrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 0;
}

[data-theme='dark'] .bookListContainer {
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary);
  }
}

.bookGrid {
  list-style: none;
  padding: 0 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap: 16px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, minmax(150px, 1fr));
  }
}

/* List view */
.bookList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
  &:first-child {
    margin-top: 24px;
  }
}

.groupName {
  margin-bottom: 16px;
}
