.button {
  position: fixed;
  bottom: calc(var(--mobile-filters-button-height) + 16px);
  right: 16px;
  z-index: 1000;
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid var(--primary);
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
  @media (min-width: 768px) {
    bottom: 20px;
    right: 28px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
