.container {
  width: 100%;
  max-width: var(--max-width);
  margin: calc(var(--header-height) + 48px) auto;
  padding: 0 16px;
  display: flex;
  gap: 2rem;
  & > * {
    font-family: var(--font-redacted-script);
    color: var(--loading-dark);
  }
}

.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.loader {
  border: 16px solid var(--accent-light);
  border-top: 16px solid var(--primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2.6;
}

.bookInfoContainer {
  display: flex;
  gap: 16px;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 311px;
  height: auto;
  background-color: var(--loading-light);
  &::after {
    content: '';
    display: block;
    padding-top: 66.67%;
  }
}

.imageContainer {
  aspect-ratio: 2/3; /* Modern property, overrides padding-top if supported */
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 3px solid var(--loading-dark);
}

.title {
  margin: 0;
}

.author {
  margin-bottom: 8px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1.2;
  p {
    margin: 0;
  }
}

.bookSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bookSectionTitle {
  width: 100%;
  border-bottom: 3px solid var(--loading-dark);
  margin-bottom: 8px;
  padding-bottom: 4px;
  font-size: 24px;
  color: var(--loading-dark);
}

.bookSectionLinksContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  a {
    text-decoration: none;
    padding: 12px 48px;
    border: 2px solid var(--primary);
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--secondary);
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
}

/* Sidebar Container */
.sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebarSectionTitle {
  margin: 0;
  width: 100%;
  border-bottom: 3px solid var(--loading-dark);
  padding-bottom: 4px;
}

.sidebarSectionList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebarSectionItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 1.2;
}

.sidebarParentItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebarParentLabel {
  margin: 0;
}

.sidebarChildList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.sidebarChildItem {
  display: flex;
  flex-wrap: wrap;
  /* gap: 4px; */
  line-height: 1.2;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
}
