.container {
  width: 100%;
  max-width: var(--max-width);
  margin: calc(var(--header-height) + 48px) auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.bookSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Sidebar Container */
.sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
