.container {
  width: 100%;
  position: relative;
  &.sort {
    & button {
      background-color: var(--primary);
      border-bottom: 3px solid var(--primary);
      border-top: 1px solid var(--primary);
      border-left: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      color: var(--secondary);
    }
  }
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  outline: none;
  border-bottom: var(--border-thick);
  border-top: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  width: 100%;
  appearance: none;
  &.selected {
    background-color: var(--primary);
    border-bottom: 3px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    color: var(--secondary);
  }
  &:focus {
    outline: 1px solid var(--primary);
    outline-offset: -1px;
  }
}

.buttonText {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonTextContainer {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonTextLabel {
  font-size: 14px;
  font-weight: 600;
}

.buttonTextValue {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonCount {
  font-size: 12px;
  font-weight: 400;
}

.buttonIcon {
  font-size: 12px;
}

.content {
  display: none;
  width: 100%;
  padding: 0;
  border: var(--border-thin);
  background-color: var(--secondary);
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  width: 275px;
  /* box-shadow: var(--box-shadow); */
  &.open {
    display: block;
    z-index: 100;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    &.sort {
      & button {
        background-color: var(--secondary);
        color: var(--primary);
      }
    }
  }
}
[data-theme='dark'] .container {
  &.sort {
    & button {
      background-color: var(--secondary);
      color: var(--primary);
    }
  }
}
