.container {
  width: 100%;
  position: relative;
  &.sort {
    & button {
      background-color: var(--light);
      border-bottom: 3px solid var(--light);
    }
  }
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  outline: none;
  border-bottom: var(--border-thick);
  border-top: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  width: 100%;
  appearance: none;
  /* &:focus {
    outline: var(--border-thin);
    outline-offset: -1px;
  } */
}

.buttonText {
  font-size: 14px;
  font-weight: 600;
}

.buttonIcon {
  font-size: 12px;
}

.content {
  display: none;
  width: 100%;
  padding: 0;
  border: var(--border-thin);
  background-color: var(--secondary);
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  /* box-shadow: var(--box-shadow); */
  &.open {
    display: block;
    z-index: 100;
  }
}
