.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--primary);
  background-color: var(--secondary);
  @media (min-width: 768px) {
    gap: 16px;
  }
}

.title {
  width: 100%;
  border-bottom: 3px solid var(--primary);
  padding-bottom: 4px;
}

.linksContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    padding: 12px 48px;
    border: 2px solid var(--primary);
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--secondary);
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
}

/* Smell */
.smell {
  border: 3px solid var(--primary);
  padding: 16px;
  .title {
    border-bottom: none;
  }
  .text {
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      text-wrap: pretty;
      /* display: inline-block; */
      margin: 0;
      font-style: italic;
    }
  }
  @media (min-width: 768px) {
    padding: 32px;
    .text {
      p {
        font-size: 32px;
      }
    }
  }
}
