.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--primary);
  background-color: var(--secondary);
  @media (max-width: 768px) {
    gap: 8px;
  }
}

.title {
  width: 100%;
  border-bottom: var(--border-thick);
  /* margin-bottom: 8px; */
  padding-bottom: 4px;
}

.linksContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    padding: 12px 48px;
    border: var(--border-medium);
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--secondary);
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
}

.smell {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 16px;
  .title {
    border-bottom: 3px solid var(--secondary);
  }
  .text {
    font-size: 32px;
    font-weight: 500;
  }
}
