.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  width: 100%;
  border-bottom: var(--border-thick);
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.linksContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  a {
    text-decoration: none;
    padding: 12px 48px;
    border: var(--border-medium);
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--secondary);
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
}
