.bookList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 16px;
}

.bookItem {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 2/3;
}

.bookLink {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
