.container {
  display: flex;
  gap: 16px;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 311px;
  height: auto;
  &::after {
    content: '';
    display: block;
    padding-top: 66.67%;
  }
}

.imageContainer {
  aspect-ratio: 2/3; /* Modern property, overrides padding-top if supported */
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: var(--border-thick);
}

.title {
  margin: 0;
}

.author {
  margin-bottom: 8px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1.2;
  p {
    margin: 0;
  }
}
