.container {
  display: none;
  position: fixed;
  top: calc(var(--header-height) - 3px);
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--secondary);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 0;
  gap: 16px;
  border-bottom: var(--border-thick);
  @media (max-width: 768px) {
    display: flex;
  }
}

.searchbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.filtersButton {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  color: var(--secondary);
}
