.container {
  top: calc(var(--header-height) + var(--filters-height));
  position: fixed;
  left: 0;
  right: 0;
  height: calc(
    100vh - var(--header-height) - var(--filters-height) -
      var(--mobile-filters-button-height)
  );
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: var(--scrollbar-width); /* Width of vertical scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: var(--light);
    border-left: 3px solid var(--primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  }
  @media (min-width: 768px) {
    height: calc(100vh - var(--header-height) - var(--filters-height));
  }
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 0;
}

[data-theme='dark'] .container {
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary);
  }
}

.resultsContainer {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: auto;
  flex-direction: column;
  gap: 24px;
  max-height: none;
  padding: 0 16px;
  @media (min-width: 768px) {
    padding: 0 0 32px 0;
    flex-direction: row;
    max-height: 400px;
    gap: 2rem;
  }
}

.resultsGroup {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  flex: 1;
}

.resultsTitle {
  border-bottom: 3px solid var(--primary);
  width: 100%;
  padding: 0 0 8px 8px;
}

.resultsList {
  border: 1px solid var(--primary);
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  @media (min-width: 768px) {
    max-height: 100%;
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width); /* Width of vertical scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: var(--light);
    border-left: 1px solid var(--primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
  }
}

.resultItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  a {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    margin: 0;
    border-bottom: 1px solid var(--primary);
    text-decoration: none;
    &:hover {
      color: var(--secondary);
      background-color: var(--primary);
      border-bottom: 1px solid var(--secondary);
    }
  }
}

[data-theme='dark'] .resultsList {
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary);
  }

  .resultItem a {
    &:hover {
      color: var(--secondary);
    }
  }
}
