.pageContainer {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 16px;
  margin: calc(var(--header-height) + 24px) auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (max-width: 768px) {
    margin: calc(var(--header-height) + 16px) auto;
  }
}

.backToHomeLink {
  display: inline-block;
  width: fit-content;
}

.container {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2.6;
}

.bookSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* @media (max-width: 768px) {
    gap: 16px;
  } */
}

/* Sidebar Container */
.sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 768px) {
    display: none;
  }
}

.mobileSidebarContainer {
  display: none;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 768px) {
    display: flex;
  }
}

/* Search Results Container */
.searchResultsContainer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
}

.bookListContainer {
  padding-top: calc(var(--header-height) + var(--filters-height) + 16px);
}
